* {
  margin: 0;
  padding: 0;
  box-sizing: border-box; }

@font-face {
  font-family: "Fredoka One";
  src: url(../font/Fredoka_One/FredokaOne-Regular.ttf); }

@font-face {
  font-family: "Roboto";
  src: url(../font/Roboto/Roboto-Regular.ttf); }

@font-face {
  font-family: "Hind Madurai";
  src: url(../font/Hind_Madurai/HindMadurai-Light.ttf); }

@font-face {
  font-family: "Hind MaduraiB";
  src: url(../font/Hind_Madurai/HindMadurai-Bold.ttf); }

header {
  background-color: #f7e7ec;
  padding-top: 50px; }

.container {
  width: 1160px;
  margin: 0 auto; }

nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 37px; }
  nav ul {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    list-style: none;
    width: 60%; }
    nav ul .ancer {
      text-decoration: none;
      font-family: "Roboto";
      font-size: 14px;
      line-height: 16px;
      color: #150101;
      opacity: 0.6; }
      nav ul .ancer:hover {
        font-family: "Roboto";
        font-weight: bold;
        color: #D23166;
        border-bottom: 0 solid 0;
        opacity: 1; }
  nav .btn {
    border-radius: 5px;
    padding: 7px 35px;
    color: #FAFAFA;
    font-family: "Roboto";
    font-weight: 500;
    font-size: 16px;
    line-height: 22px;
    background-color: #D23166;
    border: none;
    cursor: pointer;
    transition: all .3s linear; }
    nav .btn:hover {
      background-color: #f7e7ec;
      color: #150101; }

.feel {
  display: flex; }
  .feel .feel__left {
    width: 665px;
    margin: 196px 0 213px; }
    .feel .feel__left h6 {
      font-family: "Roboto";
      font-weight: 500;
      font-size: 14px;
      line-height: 16px;
      letter-spacing: 0.1em;
      color: #0F0101; }
    .feel .feel__left h1 {
      font-family: "Fredoka One";
      font-size: 57.33px;
      line-height: 120.5%;
      color: #0F0101;
      opacity: 0.9; }
      .feel .feel__left h1 b {
        color: #D23166; }
    .feel .feel__left .text__1 {
      font-family: "Hind Madurai";
      font-size: 18px;
      line-height: 27px;
      color: #0F0101;
      opacity: 0.8;
      text-align: left;
      width: 523px;
      margin: 35px 0 50px; }
    .feel .feel__left button {
      border-radius: 5px;
      padding: 7px 35px;
      color: #FAFAFA;
      font-family: "Roboto";
      font-weight: 500;
      font-size: 16px;
      line-height: 22px;
      background-color: #D23166;
      border: none;
      cursor: pointer;
      transition: all .3s linear; }
      .feel .feel__left button:hover {
        background-color: #f7e7ec;
        color: #150101; }
  .feel .feel__right {
    width: 500px;
    position: relative; }
    .feel .feel__right span {
      display: inline-block;
      width: 350px;
      height: 350px;
      background-color: #d16a8d;
      border-radius: 50%;
      opacity: 0.1;
      position: absolute;
      top: 300px;
      left: 120px; }
    .feel .feel__right .sut {
      transform: rotate(4.79deg);
      position: absolute;
      top: 220px; }

.block {
  background-color: #fff; }
  .block .block__child {
    width: 1117px;
    margin: 100px auto;
    display: flex;
    justify-content: space-between;
    align-items: center; }
    .block .block__child .box {
      text-align: center;
      width: 250px;
      background-color: #FFFFFF;
      border: 1px solid rgba(0, 0, 0, 0.03);
      border-radius: 7px;
      padding: 30px 20px 20px; }
      .block .block__child .box:hover {
        box-shadow: 20px 20px 50px rgba(0, 0, 0, 0.03); }
      .block .block__child .box img {
        height: 45px;
        width: 55px; }
      .block .block__child .box h4 {
        font-family: "Hind Madurai";
        font-weight: 600;
        font-size: 20px;
        line-height: 28px;
        color: #000000;
        margin: 24px 0 9px; }
      .block .block__child .box .text__2 {
        font-family: "Hind Madurai";
        font-size: 14px;
        line-height: 19px;
        color: #000000;
        opacity: 0.6; }

.bg {
  background-color: #f7e7ec; }

.bg-1 {
  background-color: #fff; }

.bg-2 {
  background-color: #0A0808; }

.block--brown {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 35px 0; }
  .block--brown .block--brown__left {
    width: 452px; }
    .block--brown .block--brown__left h2 {
      font-family: "Hind MaduraiB";
      font-weight: 600;
      font-size: 44.2px;
      line-height: 49px;
      color: #150101;
      text-align: left;
      width: 300px; }
    .block--brown .block--brown__left .text__1 {
      font-family: "Hind Madurai";
      font-size: 18px;
      line-height: 27px;
      color: #0F0101;
      opacity: 0.8;
      text-align: left;
      margin: 16px 0 35px; }
    .block--brown .block--brown__left button {
      border-radius: 5px;
      padding: 7px 35px;
      color: #FAFAFA;
      font-family: "Roboto";
      font-weight: 500;
      font-size: 16px;
      line-height: 22px;
      background-color: #D23166;
      border: none;
      cursor: pointer;
      transition: all .3s linear; }
      .block--brown .block--brown__left button:hover {
        background-color: #f7e7ec;
        color: #150101; }
  .block--brown .block--brown__right {
    width: 551px;
    height: 463px; }

.product {
  margin: 120px 0; }
  .product h2 {
    font-family: "Hind MaduraiB";
    font-weight: 600;
    font-size: 44.2px;
    line-height: 49px;
    color: #150101;
    text-align: center; }
  .product ul {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    list-style: none;
    width: 100%;
    padding: 0 120px;
    margin: 64px 0 50px; }
    .product ul .ancer {
      text-decoration: none;
      font-family: "Roboto";
      font-size: 14px;
      line-height: 16px;
      color: #150101;
      opacity: 0.6; }
      .product ul .ancer:hover {
        font-family: "Roboto";
        font-weight: bold;
        color: #000000;
        border-bottom: 3px solid #D64374;
        opacity: 1; }
  .product .product__block {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center; }
    .product .product__block .product__block--boximg {
      width: 580px;
      height: 415px; }
    .product .product__block .product__block--box {
      width: 454px; }
      .product .product__block .product__block--box h3 {
        font-family: "Hind MaduraiB";
        font-weight: bold;
        font-size: 26px;
        line-height: 36px;
        color: #000000; }
      .product .product__block .product__block--box .text__1 {
        font-family: "Hind Madurai";
        font-size: 18px;
        line-height: 27px;
        color: #0F0101;
        opacity: 0.8;
        text-align: left;
        margin: 11px 0 28px;
        position: relative; }
        .product .product__block .product__block--box .text__1 .img__1 {
          position: absolute;
          left: -30px; }
        .product .product__block .product__block--box .text__1 .img__2 {
          position: absolute;
          left: 370px;
          top: 70px; }
      .product .product__block .product__block--box .doll {
        display: flex;
        align-items: center;
        margin-bottom: 10px; }
        .product .product__block .product__block--box .doll h5 {
          font-family: "Hind Madurai";
          font-weight: 700;
          font-size: 26px;
          line-height: 36px;
          color: #000000;
          margin-right: 10px; }
        .product .product__block .product__block--box .doll del {
          font-family: "Hind Madurai";
          font-weight: 500;
          font-size: 20px;
          line-height: 28px;
          color: #000000;
          opacity: 0.7; }
      .product .product__block .product__block--box button {
        border-radius: 5px;
        padding: 7px 35px;
        color: #FAFAFA;
        font-family: "Roboto";
        font-weight: 500;
        font-size: 16px;
        line-height: 22px;
        background-color: #D23166;
        border: none;
        cursor: pointer;
        transition: all .3s linear; }
        .product .product__block .product__block--box button:hover {
          background-color: #f7e7ec;
          color: #150101; }
    .product .product__block .right {
      text-align: right; }
      .product .product__block .right .doll {
        justify-content: end; }
      .product .product__block .right .text__1 {
        font-family: "Hind Madurai";
        font-size: 18px;
        line-height: 27px;
        color: #0F0101;
        opacity: 0.8;
        text-align: right; }
    .product .product__block .foto {
      display: flex;
      flex-wrap: wrap; }
      .product .product__block .foto img {
        width: 59px;
        height: 58px;
        margin-right: 15px; }
      .product .product__block .foto .text__foto .text__1 {
        margin-top: 0px;
        font-size: 14px; }
    .product .product__block .slayd {
      display: flex;
      justify-content: space-between;
      align-items: center; }
      .product .product__block .slayd button {
        background-color: #fff;
        border: none; }
        .product .product__block .slayd button:hover {
          background-color: #fff; }
      .product .product__block .slayd .foto__img {
        width: 35px;
        height: 35px; }

.simple {
  display: flex;
  justify-content: space-between;
  align-items: center; }
  .simple .simple__left {
    width: 300px;
    height: 668px;
    position: relative; }
    .simple .simple__left img {
      display: inline-block;
      width: 291px;
      height: 623px;
      position: absolute;
      top: 14%; }
  .simple .simple__right {
    width: 625px;
    margin-right: 100px; }
    .simple .simple__right h2 {
      font-family: "Hind MaduraiB";
      font-weight: 600;
      font-size: 44.2px;
      line-height: 49px;
      color: #150101;
      text-align: left;
      font-family: "Hind Madurai"; }
    .simple .simple__right p {
      font-family: "Hind Madurai";
      font-size: 18px;
      line-height: 27px;
      color: #0F0101;
      opacity: 0.8;
      text-align: left;
      padding-right: 50px;
      margin: 20px 0 31px;
      line-height: 20px; }
    .simple .simple__right .simple__right--sao {
      display: flex;
      align-items: center;
      margin-bottom: 15px; }
      .simple .simple__right .simple__right--sao img {
        width: 30px;
        height: 30px;
        background: #FFFFFF;
        border-radius: 3px;
        padding: 8px 10px;
        margin-right: 10px; }
      .simple .simple__right .simple__right--sao h5 {
        font-family: "Roboto";
        font-size: 22px;
        font-weight: 300;
        line-height: 26px;
        color: #000000; }
    .simple .simple__right .simple__logo {
      display: flex;
      align-items: center; }
      .simple .simple__right .simple__logo img {
        margin-right: 7px; }

.have {
  width: 637px;
  margin: 190px auto 150px; }
  .have h2 {
    font-family: "Hind MaduraiB";
    font-weight: 600;
    font-size: 44.2px;
    line-height: 49px;
    color: #150101;
    text-align: center;
    margin-bottom: 28px; }

.input__btn {
  font-size: 0;
  display: flex;
  align-items: center; }
  .input__btn input {
    width: 503px;
    padding: 23px 0 23px 30px;
    font-family: "Roboto";
    font-size: 14px;
    line-height: 16px;
    color: #0F0000;
    opacity: 0.6;
    background: #FAFAFA;
    border-radius: 5px 0 0 5px;
    border: none; }
  .input__btn button {
    border-radius: 5px;
    padding: 20px 25px;
    color: #FAFAFA;
    font-family: "Roboto";
    font-weight: 500;
    font-size: 16px;
    line-height: 22px;
    background-color: #D23166;
    border: none;
    cursor: pointer;
    transition: all .3s linear;
    border-radius: 0 5px 5px 0; }
    .input__btn button:hover {
      background-color: #f7e7ec;
      color: #150101; }

.foot {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 70px 0 104px;
  color: #FFFFFF;
  font-family: "Roboto";
  font-size: 12px; }
  .foot h6 {
    width: 207px;
    font-weight: 100;
    font-size: 12px;
    line-height: 19px;
    letter-spacing: 0.01em;
    opacity: 0.7;
    margin: 9px 0 25px; }
  .foot b {
    display: inline-block;
    opacity: 0.7;
    margin-bottom: 8px; }
  .foot .foot__mess img {
    margin-right: 10px; }
  .foot ul {
    list-style: none;
    display: inline-block;
    margin-top: 90px; }
    .foot ul a {
      text-decoration: none;
      color: #fff;
      opacity: 0.7;
      display: inline-block;
      margin-bottom: 10px; }
      .foot ul a:hover {
        opacity: 1; }
  .foot .foot__left-3 li {
    color: #fff;
    opacity: 0.7;
    margin-bottom: 10px; }
  .foot .foot__right {
    margin-top: 70px; }
    .foot .foot__right p {
      font-weight: 500;
      font-size: 16px;
      line-height: 19px; }
    .foot .foot__right .input__btn {
      margin: 13px 0 15px;
      width: 388px; }
      .foot .foot__right .input__btn input {
        color: #fff;
        background: #0A0808;
        opacity: 1;
        border: 1px solid #D64374; }
      .foot .foot__right .input__btn button {
        border: 1px solid #D64374; }
    .foot .foot__right .foot__sum {
      display: flex;
      align-items: center; }
      .foot .foot__right .foot__sum img {
        margin-right: 15px; }
  

  .body{
    position: relative;
  }      

  .Modal{
    border: 1px solid black;
   width: 100%;
   height: 100%;
    display: flex;
  backdrop-filter: blur(4px);

    background-color: rgba(0, 0, 0, 0.6);
    position: absolute;
   display: none; 
    position: fixed;
    top: 0;
    left: 0;

  }
  .tugma{
    width: 100px;
    height: 30px;
    margin-top: 20px;
    background-color: greenyellow;
    border: 0;
   
    
  }

  .modalFoto{
    margin-top: 100px;
    margin-left: 100px;
    width: 50%;
    height: 500px;
  }

  .modalText{
    margin-top: -600px;
    margin-left: 700px;
    width: 50%;
    height: 500px;
    
  }

  .modH1{
    margin-top: 200px;
    font-size: 3rem;
    color: greenyellow;
  }
  .modH2{
    font-size: 2rem;
    color: greenyellow;
  }

  .nav{
    background-color: chocolate;
  }